

/* 
#163020 verde oscuro
#304D30 verde +claro
#B6C4B6 verde +++claro
#EEF0E5  blanco 

#9BABB8  azul gris
#EEE3CB  crema
#D7C0AE  crema
#967E76 marron
*/


/* 1 rem = 10px
   font-size: 62.5%     
*/

/* reseteamos el paddin y margen para que nuestro navegador no nos influya, luego le damos nosotros mas abajo. el * es el selector universal*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Familia de Letra */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/*font-family: 'Libre Baskerville', serif; */

html {
    font-size: 62.5%;
    font-family: 'Libre Baskerville', serif
}

.todosh1 {
    font-size: 4rem;
    text-shadow: 2px 3px 15px black;
    text-align: center;
    margin: 20px 20px;
    padding: 20px;
} 

@media screen and (max-width:768px) {
    .todosh1 {
        font-size: 3rem;
        text-shadow: 1px 2px 10px black;

    }
}

@media screen and (max-width:576px) {
    .todosh1 {
        font-size: 2.5rem;
        text-shadow: 1px 2px 5px black;

    }
}

.navbar h2 {
    font-size: 3rem;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    text-decoration: underline;
    margin: 20px 10px;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 2.2rem;
    text-align: justify;
    margin: 20px 10px;
}

a:visited {
    color: black;
   
}

a:active {
    color: black;
}


body {
    background-color: #EEE3CB;  
}

/* estilos header*/


header {
    background-color:#967E76;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0px 0px 10px 0px;
}

header img {
    height: 125px;
    margin: 10px; 
}

header nav {
    font-size: 1.7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
   
    
}
header nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
    
    
}

.offcanvas.offcanvas-end.estilo-navbar {
    width:250px;
}

button.navbar-toggler {
    border: 2px solid black;
}

header a {
    color: black;
    text-decoration: none;
}



/*main index*/


.bannerIndex {

    background-image: url(../imagenes/banner-img/penitentes360.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px 0px;
    margin: 20px 10px;
}

@media  screen and (max-width:768px) {
  .bannerIndex {
    background-size: contain;
    }
    
}

.subtituloindex {
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
}
.subtitulo p {
    text-align: center;
}

.enlaceviajes {
        color: #967E76; 
        text-decoration: none; 
        font-weight: bold; 
        font-size: 3rem;
}


/* CARTAS */
.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
}


.cartastodas {
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

.cartastodas p {
    font-size: 2rem;
    flex-grow: 1;
    text-align: start;

}

.cartastodas img {
    width: 100%;
}

.cartas_a {
    font-size: 2rem;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    text-shadow: 10px 10px 10px black;
    font-weight: 900;
    display: inline-block;
}




/* PIE DE PAGINA*/
footer {
    background-color: #967E76; 
    padding: 15px; 
    text-align: center; 
  }
  
  .clasefooter1 div {
    display: inline-block; 
    margin: 0 15px; 
  }
  
  /* Estilos para los enlaces en el footer */
  .clasefooter1 a {
    color:black; 
    text-decoration: none; 
    font-size: 30px; 
  }
  
  /* Estilos al pasar el mouse sobre los enlaces */
  .clasefooter1 a:hover {
    color: #b9b7b7; 
  }
  .clasefooter1 h5 {
    margin-bottom: 10px;
    font-size: 2.2rem; 
  }
/*Nosotros*/

/*main */


.nosotrosjuntos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 20px;

}


.nosotroscartas {
    width: 400px;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.nosotroscartas img {
  width: 300px;
}

.nosotroscartas p {
    text-align: justify;
}
 
.nosotroscartas1 {
    display: flex;
    width: 100%;
    height: 80%;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    align-items: center;
}

.nosotroscartas1 img {
    width: 400px;
    
  
}

.nosotroscartas1 p {
    height: 100%;
    text-align: start;
    
}








/*  planificacion de viaje*/

/* main */

.grid-padre {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas: "box1 box1"
                        "box2 box2 "
                        "box3 box4"
                        "box5 box6"
                        
                        ;
    width: 95%;
    grid-gap: 10px;
    margin: 20px 20px;
}



.grid-padre img {
    width: 350px; 
    
}

@media screen and (max-width:768px) {
    .grid-padre img {
        width: 250px;
    }
}

@media screen and (max-width: 576px)
{
    .grid-padre img {
        width: 200px;
    }
}



.hijo1 {
    background-image: url(../imagenes/banner-img/planificacion-viaje.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    grid-area: box1;
}

.hijo2 {
    grid-area: box2;
    text-align: center;
    height: 100%;
}


.hijo4 {
    grid-area: box3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hijo5 {
    grid-area: box4;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hijo6 {
    grid-area: box5;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hijo7{
    grid-area: box6;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3planificacion {
    font-size: 3rem;
    text-decoration: none;
    text-shadow: 1px 2px 5px #6d301c;
    margin-bottom: 20px;
}

/* viajes */

/* main*/
.container-fluid {
    margin-bottom: 20px;
}
.carousel-h2 {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
}


/* contacto */

.backgroundContacto {
    font-size: 2rem;
    margin: 0 auto;
    padding: 20px;
    background-image: url(../imagenes/contacto-img/72042079-accesorios-para-la-vista-desde-arriba-de-viaje-sobre-fondo-blanco-mármol-natural-con-copia-espacio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}



.backgroundContacto h2 {
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

.form {
    width: 50vw;
    text-align: start;
}

.form label {
    display: block;
}

.backgroundContacto div {
    margin: 10px;
}

.sectionContacto h3 {
    margin: 20px 10px;
    text-decoration: none;
    text-shadow: 1px 2px 10px brown;
    font-size: 2.5rem;
}

.form input,
.form textarea {
    width: 75%;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 2px;
    
}
.buttons {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: start;
}

button {
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color:black;
}

button[type="submit"] {
    background-color: rgb(189, 189, 189); /* Verde */
}

button[type="reset"] {
    background-color:rgb(189, 189, 189); /* Rojo */
    margin-left: 30px;
}